%red-cta {
	background-color: $red;
	padding: 7px 20px;
	border-radius: 5px;
	color: $white;
	text-decoration: none;
	&:hover {
		background-color: $blue;
		color: $white;
		transition: .4s;
	}
}

%content-holder {
	padding-top: 87px;
	max-width: 633px;
	margin: 0 auto;
}