.faqs-content {
    padding-top: 87px;

    .faq-repeater-holder {
        width: 48%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {  
    .faqs-content {
        padding-top: 30px;

        .faq-repeater-holder {
            width: 100%;
        }
    }
}