body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .flex {
        flex-wrap: wrap;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px)
and (max-width: 1200px) {
}